@import url(./fonts.css);
::-webkit-scrollbar {
  width: 1rem; }

::-webkit-scrollbar-track {
  background-color: #caf0f8; }

::-webkit-scrollbar-thumb {
  background-color: #0077b6;
  border-radius: 0.5rem; }

::-webkit-scrollbar-thumb:hover {
  background-color: #caf0f8; }

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  outline: none;
  border: none;
  transition: 0.3s;
  text-decoration: none !important;
  list-style: none;
  font-family: Vazir; }

::placeholder {
  color: #0077b6;
  font-size: 0.8rem; }

input, input:focus, input:active {
  color: #0077b6; }

input:active {
  color: #0077b6; }

ul {
  margin-bottom: 0%; }

body {
  background-color: #e8fbff; }

.main-header {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0096c7; }
  .main-header .main-header__menu {
    display: flex;
    align-items: center; }
    .main-header .main-header__menu img {
      width: 3rem; }
    .main-header .main-header__menu ul {
      display: flex;
      margin-right: 1rem;
      align-items: baseline; }
      .main-header .main-header__menu ul li a {
        margin-right: 1rem;
        font-family: Vazir;
        font-size: 1rem;
        color: white; }
        .main-header .main-header__menu ul li a:hover {
          text-shadow: 0px 0px 10px white; }
      .main-header .main-header__menu ul li[active] a {
        text-shadow: 0px 0px 10px white;
        font-size: 1.1rem; }
      .main-header .main-header__menu ul li:nth-child(2) {
        position: relative; }
        .main-header .main-header__menu ul li:nth-child(2) div {
          position: absolute;
          display: flex;
          flex-direction: column;
          background-color: #0096c7;
          padding: 0.5rem;
          padding-top: 1rem;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          width: max-content;
          box-shadow: 5px 5px 30px #80808038;
          text-align: right;
          top: 2.9rem;
          left: -1.5rem;
          display: none; }
          .main-header .main-header__menu ul li:nth-child(2) div a {
            color: #e8fbff;
            width: 100%;
            margin-bottom: 1rem;
            margin-right: 0%;
            padding-right: 1rem;
            padding-left: 1rem; }
        .main-header .main-header__menu ul li:nth-child(2) div[active] {
          display: flex;
          animation: menu 1s; }
@keyframes menu {
  0% {
    top: 1rem;
    opacity: 0; }
  100% {
    top: 2.9rem;
    opacity: 1; } }
  .main-header .main-header__search {
    display: flex;
    align-items: center; }
    .main-header .main-header__search form {
      position: relative; }
      .main-header .main-header__search form input {
        border-radius: 50px;
        padding-right: 1rem;
        opacity: 0.8; }
      .main-header .main-header__search form input:active, .main-header .main-header__search form input:focus {
        opacity: 1;
        box-shadow: 2px 2px 5px #e8fbff; }
      .main-header .main-header__search form button {
        position: absolute;
        background-color: #f5deb300;
        left: 6px;
        top: 2px; }
        .main-header .main-header__search form button i {
          font-weight: lighter;
          color: #0077b6; }

/*# sourceMappingURL=main.css.map */
