@import url(./fonts.css);
::-webkit-scrollbar {
  width: 1rem; }

::-webkit-scrollbar-track {
  background-color: #d4f0f5; }

::-webkit-scrollbar-thumb {
  background-color: #0077b6;
  border-radius: 0.5rem; }

::-webkit-scrollbar-thumb:hover {
  background-color: #d4f0f5; }

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  outline: none;
  border: none;
  transition: 0.3s;
  text-decoration: none !important;
  list-style: none;
  font-family: Vazir; }

::placeholder {
  color: #0077b6;
  font-size: 0.8rem; }

input, input:focus, input:active {
  color: #0077b6; }

input:active {
  color: #0077b6; }

ul {
  margin-bottom: 0%; }

body {
  background-color: #e8fbff; }

.main-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #003e9b;
  padding: 1rem 3rem; }
  .main-header .main-header__menu {
    display: flex;
    align-items: center; }
    .main-header .main-header__menu img {
      width: 3rem; }
    .main-header .main-header__menu ul {
      display: flex;
      margin-right: 1rem;
      align-items: baseline; }
      .main-header .main-header__menu ul li a {
        margin-right: 1rem;
        font-family: Vazir;
        font-size: 1rem;
        color: white; }
        .main-header .main-header__menu ul li a:hover {
          text-shadow: 0px 0px 10px white; }
      .main-header .main-header__menu ul li[active] a {
        text-shadow: 0px 0px 10px white;
        font-size: 1.1rem; }
      .main-header .main-header__menu ul li:nth-child(2) {
        position: relative; }
        .main-header .main-header__menu ul li:nth-child(2) div {
          position: absolute;
          display: flex;
          flex-direction: column;
          background-color: #e8fbff;
          padding: 0.5rem;
          padding-top: 1rem;
          border-radius: 1rem;
          width: max-content;
          box-shadow: 5px 5px 30px #80808038;
          text-align: right;
          top: 2.95rem;
          left: -1.5rem;
          display: none;
          z-index: 5; }
          .main-header .main-header__menu ul li:nth-child(2) div a {
            color: #003e9b;
            width: 100%;
            margin-bottom: 1rem;
            margin-right: 0%;
            padding-right: 1rem;
            padding-left: 1rem; }
        .main-header .main-header__menu ul li:nth-child(2) div[active] {
          display: flex;
          animation: menu 1s; }
@keyframes menu {
  0% {
    top: 1rem;
    opacity: 0; }
  100% {
    top: 2.9rem;
    opacity: 1; } }
  .main-header .main-header__search {
    display: flex;
    align-items: center; }
    .main-header .main-header__search form {
      position: relative; }
      .main-header .main-header__search form input {
        border-radius: 50px;
        padding-right: 1rem;
        opacity: 0.8; }
      .main-header .main-header__search form input:active, .main-header .main-header__search form input:focus {
        opacity: 1;
        box-shadow: 0px 0px 5px #e8fbff; }
      .main-header .main-header__search form button {
        position: absolute;
        background-color: #f5deb300;
        left: 6px;
        top: 2px; }
        .main-header .main-header__search form button i {
          font-weight: lighter;
          color: #0077b6; }

.main-page-con {
  background-color: #003e9b;
  margin: 0%; }
  .main-page-con .baner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
    margin: 0 auto; }
    .main-page-con .baner .baner__desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: right;
      width: 100%; }
      .main-page-con .baner .baner__desc h1 {
        margin-bottom: 2rem;
        color: white; }
      .main-page-con .baner .baner__desc p {
        color: white; }
      .main-page-con .baner .baner__desc .baner__category {
        padding: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap; }
        .main-page-con .baner .baner__desc .baner__category a {
          padding: 0.5rem;
          background-color: white;
          color: #003e9b;
          border-radius: 15px;
          min-width: 7rem;
          margin: 0.5rem;
          text-align: center; }
        .main-page-con .baner .baner__desc .baner__category a:hover {
          box-shadow: 0px 0px 10px #e8fbff; }
    .main-page-con .baner .baner__img img {
      width: 20rem; }

.main-articles {
  margin-top: 2rem;
  padding-bottom: 30rem; }
  .main-articles .new-article {
    background-color: #d4f0f5;
    border-radius: 15px;
    padding: 1rem; }
    .main-articles .new-article .new-article__image {
      width: 30rem;
      height: 20rem;
      padding-right: 0%; }
      .main-articles .new-article .new-article__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px; }
    .main-articles .new-article .article-detail {
      text-align: right; }
      .main-articles .new-article .article-detail .article-detail__top {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .main-articles .new-article .article-detail .article-detail__top a {
          background-color: #0077b6;
          padding: 0.5rem;
          color: white;
          border-radius: 15px; }
        .main-articles .new-article .article-detail .article-detail__top a:hover {
          box-shadow: 0px 0px 10px #e8fbff; }
        .main-articles .new-article .article-detail .article-detail__top span {
          color: #0077b6;
          font-family: homa;
          font-size: 1.2rem; }
          .main-articles .new-article .article-detail .article-detail__top span i {
            margin-left: 0.5rem;
            color: #0077b6; }
      .main-articles .new-article .article-detail .article-detail__desc {
        margin-top: 1rem; }
        .main-articles .new-article .article-detail .article-detail__desc h3 {
          color: #0077b6;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1; }
        .main-articles .new-article .article-detail .article-detail__desc p {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 5;
          color: #212436; }
        .main-articles .new-article .article-detail .article-detail__desc span {
          color: #0077b6;
          vertical-align: baseline; }
          .main-articles .new-article .article-detail .article-detail__desc span i {
            transform: rotate(180deg);
            margin-right: 0.5rem; }

/*# sourceMappingURL=main.css.map */
