@import url(./fonts.css);
::-webkit-scrollbar {
  width: 1rem; }

::-webkit-scrollbar-track {
  background-color: #d4f0f5; }

::-webkit-scrollbar-thumb {
  background-color: #0077b6;
  border-radius: 0.5rem; }

::-webkit-scrollbar-thumb:hover {
  background-color: #1e82b8; }

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  outline: none;
  border: none;
  transition: 0.3s;
  text-decoration: none !important;
  list-style: none;
  font-family: Vazir; }

::placeholder {
  color: #0077b6;
  font-size: 0.8rem; }

input, input:focus, input:active {
  color: #0077b6; }

input:active {
  color: #0077b6; }

ul {
  margin-bottom: 0%; }

body {
  background-color: #e8fbff; }

.main-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #003e9b;
  padding: 1rem 3rem; }
  .main-header .main-header__menu {
    display: flex;
    align-items: center; }
    .main-header .main-header__menu img {
      width: 3rem; }
    .main-header .main-header__menu ul {
      display: flex;
      margin-right: 1rem;
      align-items: baseline; }
      .main-header .main-header__menu ul li a {
        margin-right: 1rem;
        font-family: Vazir;
        font-size: 1rem;
        color: white; }
        .main-header .main-header__menu ul li a:hover {
          text-shadow: 0px 0px 10px white; }
      .main-header .main-header__menu ul li[active] a {
        text-shadow: 0px 0px 10px white;
        font-size: 1.1rem; }
      .main-header .main-header__menu ul li:nth-child(2) {
        position: relative; }
        .main-header .main-header__menu ul li:nth-child(2) div {
          position: absolute;
          display: flex;
          flex-direction: column;
          background-color: #e8fbff;
          padding: 0.5rem;
          padding-top: 1rem;
          border-radius: 1rem;
          width: max-content;
          box-shadow: 5px 5px 30px #80808038;
          text-align: right;
          top: 2.3rem;
          left: -3rem;
          display: none;
          z-index: 10; }
          .main-header .main-header__menu ul li:nth-child(2) div a {
            color: #003e9b;
            width: 100%;
            margin-bottom: 1rem;
            margin-right: 0%;
            padding-right: 1rem;
            padding-left: 1rem; }
        .main-header .main-header__menu ul li:nth-child(2) div[active] {
          display: flex;
          animation: menu 0.5s; }
@keyframes menu {
  0% {
    top: 1rem;
    opacity: 0; }
  100% {
    top: 2.3rem;
    opacity: 1; } }
  .main-header .main-header__search {
    display: flex;
    align-items: center;
    transform: scale(1.08); }
    .main-header .main-header__search form {
      position: relative; }
      .main-header .main-header__search form input {
        border-radius: 50px;
        padding-right: 1rem;
        opacity: 0.8; }
      .main-header .main-header__search form input:active, .main-header .main-header__search form input:focus {
        opacity: 1;
        box-shadow: 0px 0px 5px #e8fbff; }
      .main-header .main-header__search form button {
        position: absolute;
        background-color: #f5deb300;
        left: 6px;
        top: 2px; }
        .main-header .main-header__search form button i {
          font-weight: lighter;
          color: #0077b6; }

.main-page-con {
  background-color: #003e9b;
  margin: 0%; }
  .main-page-con .baner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
    margin: 0 auto; }
    .main-page-con .baner .baner__desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: right;
      width: 100%; }
      .main-page-con .baner .baner__desc h1 {
        margin-bottom: 2rem;
        color: white; }
      .main-page-con .baner .baner__desc p {
        color: white; }
      .main-page-con .baner .baner__desc .baner__category {
        padding: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap; }
        .main-page-con .baner .baner__desc .baner__category a {
          padding: 0.5rem;
          background-color: white;
          color: #003e9b;
          border-radius: 15px;
          min-width: 7rem;
          margin: 0.5rem;
          text-align: center; }
        .main-page-con .baner .baner__desc .baner__category a:hover {
          box-shadow: 0px 0px 10px #e8fbff;
          transform: scale(1.03); }
    .main-page-con .baner .baner__img img {
      width: 20rem; }

.main-articles {
  margin-top: 2rem;
  padding-bottom: 2rem; }
  .main-articles .new-article {
    background-color: #d4f0f5;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0px 0px 5px #80808088; }
    .main-articles .new-article .new-article__image {
      width: 30rem;
      height: 20rem;
      padding-right: 0%; }
      .main-articles .new-article .new-article__image img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: 15px; }
    .main-articles .new-article .article-detail {
      text-align: right; }
      .main-articles .new-article .article-detail .article-detail__top {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .main-articles .new-article .article-detail .article-detail__top a {
          background-color: #0077b6;
          padding: 0.5rem;
          color: white;
          border-radius: 15px; }
        .main-articles .new-article .article-detail .article-detail__top a:hover {
          box-shadow: 0px 0px 10px #e8fbff; }
        .main-articles .new-article .article-detail .article-detail__top span {
          color: #0077b6;
          font-family: homa;
          font-size: 1.2rem; }
          .main-articles .new-article .article-detail .article-detail__top span i {
            margin-left: 0.5rem;
            color: #0077b6; }
      .main-articles .new-article .article-detail .article-detail__desc {
        margin-top: 1rem; }
        .main-articles .new-article .article-detail .article-detail__desc h3 {
          color: #0077b6;
          font-size: 1.2rem;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1; }
        .main-articles .new-article .article-detail .article-detail__desc p {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 5;
          color: #212436; }
        .main-articles .new-article .article-detail .article-detail__desc span {
          color: #0077b6;
          vertical-align: baseline; }
          .main-articles .new-article .article-detail .article-detail__desc span i {
            transform: rotate(180deg);
            margin-right: 0.5rem; }
  .main-articles .new-article:hover {
    transform: scale(1.03);
    z-index: 6;
    box-shadow: 5px 5px 15px #8080805d; }
  .main-articles .older-articles {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .main-articles .older-articles .article-card {
      background-color: #d4f0f5;
      width: 350px;
      border-radius: 15px;
      padding: 0;
      overflow: hidden;
      margin: 0.5rem;
      box-shadow: 0px 0px 5px #80808088; }
      .main-articles .older-articles .article-card img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1.2/1; }
      .main-articles .older-articles .article-card .article-detail {
        text-align: right;
        padding: 1rem; }
        .main-articles .older-articles .article-card .article-detail .article-detail__top {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .main-articles .older-articles .article-card .article-detail .article-detail__top a {
            background-color: #0077b6;
            padding: 0.5rem;
            color: white;
            border-radius: 15px; }
          .main-articles .older-articles .article-card .article-detail .article-detail__top a:hover {
            box-shadow: 0px 0px 10px #e8fbff; }
          .main-articles .older-articles .article-card .article-detail .article-detail__top span {
            color: #0077b6;
            font-family: homa;
            font-size: 1.2rem; }
            .main-articles .older-articles .article-card .article-detail .article-detail__top span i {
              margin-left: 0.5rem;
              color: #0077b6; }
        .main-articles .older-articles .article-card .article-detail .article-detail__desc {
          margin-top: 1rem; }
          .main-articles .older-articles .article-card .article-detail .article-detail__desc h3 {
            color: #0077b6;
            font-size: 1.2rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1; }
          .main-articles .older-articles .article-card .article-detail .article-detail__desc p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            color: #212436; }
          .main-articles .older-articles .article-card .article-detail .article-detail__desc span {
            color: #0077b6;
            vertical-align: baseline; }
            .main-articles .older-articles .article-card .article-detail .article-detail__desc span i {
              transform: rotate(180deg);
              margin-right: 0.5rem; }
        .main-articles .older-articles .article-card .article-detail p {
          -webkit-line-clamp: 2 !important;
          font-family: Vazir-thin;
          font-size: 0.9rem; }
    .main-articles .older-articles .article-card:hover {
      transform: scale(1.03);
      z-index: 6;
      box-shadow: 5px 5px 15px #8080805d; }
  .main-articles .counter-box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around; }
    .main-articles .counter-box a {
      min-width: 20rem;
      text-align: center; }
      .main-articles .counter-box a .main-articles__all {
        width: 100%;
        margin: 2rem auto;
        text-align: center;
        padding: 1rem;
        background-color: #0077b6;
        border-radius: 15px;
        color: white;
        display: inline-block; }
      .main-articles .counter-box a:hover {
        transform: scale(1.02); }

footer {
  width: 100%;
  min-height: 10rem;
  background-color: #003e9b;
  background-image: url("/static/media/back-foo2.png");
  background-repeat: no-repeat;
  background-size: 50rem; }
  footer .footer-ref {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 2rem;
    text-align: right; }
    footer .footer-ref .newsletters form input {
      display: block;
      width: 100%;
      padding: 0.5rem;
      border-radius: 15px;
      margin-bottom: 0.5rem; }
    footer .footer-ref .newsletters form input:first-child {
      padding-right: 1rem; }
    footer .footer-ref .newsletters form input:last-child {
      background-color: #d4f0f5;
      color: #003e9b; }
      footer .footer-ref .newsletters form input:last-child:hover {
        box-shadow: 0px 0px 10px #e8fbff; }
    footer .footer-ref .newsletters form input:active, footer .footer-ref .newsletters form input:focus {
      opacity: 1;
      box-shadow: 0px 0px 5px #e8fbff; }
    footer .footer-ref .category-footer li {
      background-color: white;
      padding: 0.3rem 1rem;
      margin: 0.3rem;
      border-radius: 20px; }
      footer .footer-ref .category-footer li a {
        color: #003e9b; }
      footer .footer-ref .category-footer li:hover {
        box-shadow: 0px 0px 10px #e8fbff; }
    footer .footer-ref .popular-posts ul {
      padding-right: 0.5rem; }
      footer .footer-ref .popular-posts ul li {
        font-size: 1 0.5rem;
        margin-bottom: 0.7rem;
        list-style-type: disc; }
        footer .footer-ref .popular-posts ul li a {
          color: white; }
          footer .footer-ref .popular-posts ul li a:hover {
            text-shadow: 0px 0px 10px #e8fbff; }
    footer .footer-ref span {
      display: block;
      margin-bottom: 0.5rem;
      font-family: Vazir-bold; }
    footer .footer-ref div {
      color: white;
      min-width: 10rem;
      padding: 0 2rem;
      margin: 2rem; }
  footer .copy-right {
    text-align: center;
    color: white;
    padding-bottom: 2rem; }

/*# sourceMappingURL=main.css.map */
