<!DOCTYPE html>
<html>
    <head>
        <!--- basic page needs
        ================================================== -->
        <meta charset="utf-8">
        <title>Get from website</title>
        
        <!-- mobile specific metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- CSS
        ================================================== -->
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
    
        <!-- script
        ================================================== -->
        <script src="static/js/base.js"></script>
    
        <!-- favicons
        ================================================== -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
    </head>
    <section class="header">
        <nav>
            <a href="index.html"><img src="static/images/logo.png"></a>
            <div>
                <ul>
                    <li><a class="active" href="index.html">خانه</a></li>
                    <li><a href="category.html">دسته بندی</a></li>
                    <li><a href="info.html">درباره من</a></li>
                    <li><a href="call.html">تماس با من</a></li>
                </ul>
            </div>
        </nav>
        <div class="header-col">
            <div class="header-col-size">
                <h1>مباحث پایه ای پایتون را به راحتی بیاموزید.</h1>
                <p>در این سایت تمام مباحث پایتون به طور کامل درس داده شده و در این مجموعه تمام ...</p>
                <div class="category-section">
                    <div class="category-button">
                        <img alt="python">
                        <p>پایتون</p>
                    </div>
                    <div class="category-button">
                        <img alt="python">
                        <p>پایتون</p>
                    </div>
                    <div class="category-button">
                        <img alt="python">
                        <p>پایتون</p>
                    </div>
                    <div class="category-button">
                        <img alt="python">
                        <p>پایتون</p>
                    </div>
                    <div class="category-button">
                        <img alt="python">
                        <p>پایتون</p>
                    </div>
                    <div class="category-button">
                        <img alt="python">
                        <p>پایتون</p>
                    </div>
                </div>
            </div>
            <div class="header-col-size">
                <img>
            </div>
        </div>
    </section>
</html>